html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 0;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 170px 1fr;
  grid-template-columns: 230px 1fr;   
}

.sidebar {
  grid-row: 1 / 3;
  background-color: rgb(25, 146, 212);
  display: grid;
  grid-template-rows: 70px repeat(6, 40px) 40px repeat(3, 40px);
  grid-template-columns: 70px 1fr;
  grid-auto-flow: column;
}

.sidebar svg {
  fill: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  align-self: center;
  justify-self: center;
}

.sidebar p {
  color: white;
  font-weight: 500;
  align-self: center;
  justify-self: start;
}

#dashboard-icon {
  width: 40px;
  height: 40px;
}

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 60px 100px;
  grid-template-columns: minmax(300px, 1fr) 1fr;
  box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.275);
  z-index: 1;
}

.searchbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.searchbar svg {
  fill: black;
  width: 25px;
  height: 25px;
}

.searchbar input {
  flex-grow: 1;
  border-radius: 10px;
  height: 30px;
  border-style: none;
  background-color: rgb(226, 232, 240);
  font-family: Roboto;
  color: rgb(49, 49, 49);;
  font-size: 16px;
  padding-left: 10px;
}

.user-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  padding-right: 50px;
}

.user-info svg {
  height: 25px;
  flex: 0 0 auto;
}

.user-info img {
  width: 30px;
}

.user-info p {
  font-weight: 500;
  font-size: 16px;
}

.greet {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 35px;
  gap: 20px;
}

.greet img {
  width: 60px;
}

.greet p {
  font-weight: 900;
  font-size: 16px;
}

.greet span {
  font-size: 20px;
}

.nav-button {
  display: flex;
  gap: 40px;
  justify-content: end;
  align-items: center;
  padding-right: 40px;
}

.nav-button button {
  width: 100px;
  height: 40px;
  background-color: rgb(25, 146, 212);
  border-radius: 25px;
  border-style: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.main {
  background-color: rgb(226, 232, 240);
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr;
  padding: 20px;
}

.projects-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto;
  gap: 20px;
}

.projects-main > p {
  font-weight: 500;
  font-size: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-template-rows: repeat(auto-fill, 200px);
  gap: 30px;
}

.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 110px 40px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.275);
  z-index: 1;
  border-left: orange;
  border-left-style: solid;
  border-left-width: 7px;
}

.card-header {
  font-weight: 700;
  font-size: 16px;
  align-self: center;
  padding-left: 30px;
}

.card-text {
  font-size: 12px;
  align-self: start;
  padding-left: 30px;
  padding-right: 20px;
}

.card-icons {
  display: flex;
  gap: 15px;
  padding-right: 20px;
  justify-self: end;
  align-self: start;
}

.card-icons svg {
  height: 20px;
}

.announce {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 300px;
  gap: 20px;
  padding-left: 30px;
}

.announce > p {
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
}

.announce-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1px 1fr 1px 1fr;    
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.275);
  z-index: 1;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.announce-header {
  font-weight: 700;
  font-size: 16px;
}

.announce-text {
  font-size: 12px;
}

.announce-line {
  background-color: rgb(166, 166, 166);
  height: 1px;
}

.trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 290px;
  gap: 20px;
  padding-left: 30px;
  padding-top: 30px;
}

.trending > p {
  font-weight: 500;
  font-size: 20px;
  padding-left: 20px;
}

.trending-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;    
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 3px rgba(136, 136, 136, 0.275);
  z-index: 1;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.trending-card img {
  width: 30px;
}

.user p {
  font-size: 14px;
  line-height: 1.4;
}

.user span {
  color: rgb(125, 125, 125);
}